{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un avis</h1>

    {{ form_start(avisForm) }}
        {{ form_row(avisForm.comment) }}
        {{ form_row(avisForm.notation) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(avisForm) }}
{% endblock %}
