# Symfony / PHP
/vendor/
/var/
/node_modules/
/public/build/
/public/bundles/
/public/uploads/

# Fichiers de configuration locaux
/.env
/.env.local
/.env.*.local

# Logs et cache
/log/
/var/cache/
/var/log/
/var/sessions/
/*.log

# Docker / MySQL / runtime
docker-compose.override.yml
mysql/mysql.sock
mysql/*.cnf
mysql/ib*
mysql/#*
mysql/*.err
mysql/*.log
mysql/binlog.*
mysql/undo_*
mysql/performance_schema/
mysql/sys/
mysql/ecoride/*.ibd
# MySQL / BDD locaux
/mysql/
/app/.env*
