{% extends 'base.html.twig' %}

{% block title %}Ajouter un trajet{% endblock %}

{% block body %}
<h1> {{ app.user.firstname }} </h1>
<div class="container mt-4">
    <h1>Ajouter un trajet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-3">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
