{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Mon Profil</h1>
    <p>Page profil en construction...</p>
</div>
{% endblock %}
