{% extends 'base.html.twig' %}

{% block title %}Mes Véhicules{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Mes Véhicules</h1>
    <p>Page véhicules en construction...</p>
</div>
{% endblock %}
