{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser le mot de passe</h1>

    {{ form_start(requestPasswordForm) }}
        {{ form_row(requestPasswordForm.email) }}
        <button class="btn btn-primary" type="submit">Envoyer le lien</button>
    {{ form_end(requestPasswordForm) }}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
