# Symfony / PHP
/vendor/
/var/
/.env.local
/.env.test
/.env.dev
/.phpunit.result.cache

# Node / JS
/node_modules/
/public/build/

# Docker
docker-compose.override.yml
.env.docker
mysql_data/
app/mysql_data/
postgres_data/
redis_data/

# IDE & système
/.idea/
/.vscode/
/.DS_Store
Thumbs.db

# Cache divers
*.log

tests/
