// @import 'variables';
// @import 'text';
// @import 'containers';
// @import 'grid';
// @import 'spacing';
// @import 'badges';
// @import 'card';
// @import 'hero';
// @import 'pagination';

body{
    background-color: white;
    margin: 0;
    font-family: "Roboto", system-ui;
}
