@use '../utils/variables' as v;
@use '../utils/mixins' as m;


// =====================
// Petits éléments réutilisables (boutons, cartes, formulaires, etc.)
// =====================

// .btn-primary {
//   @include button-style($green-main);
// }

.btn-outline {
  background-color: transparent;
  color: v.$green-main;
  border: 2px solid v.$green-main;
  border-radius: v.$radius-sm;
  padding: v.$spacing-xs v.$spacing-md;
  transition: all 0.3s ease;

  &:hover {
    background-color: v.$green-main;
    color: v.$white;
  }
}


.btn.covoiturage-btn-search {
    margin-top: 0;
    width: 100%;
    @media screen and (width >= 768px) {
        margin-top: 33px;
        width: fit-content;
    }
}