// Fonctions et règles réutilisables (breakpoints, boutons, etc.)
@use 'variables' as *;
// =====================
//Fonctions et règles réutilisables (breakpoints, boutons, etc.)
// =====================

// Responsive
// @mixin respond($breakpoint) {
//   @if $breakpoint == sm {
//     @media (min-width: 576px) { @content; }
//   } @else if $breakpoint == md {
//     @media (min-width: 768px) { @content; }
//   } @else if $breakpoint == lg {
//     @media (min-width: 992px) { @content; }
//   } @else if $breakpoint == xl {
//     @media (min-width: 1200px) { @content; }
//   }
// }
// // z
// // Bouton stylisé
// @mixin button-style($bg-color, $color: $white) {
//   // background-color: $bg-color;
//   color: $color;
//   border: none;
//   border-radius: $radius-sm;
//   padding: $spacing-sm $spacing-md;
//   cursor: pointer;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: darken($bg-color, 7%);
//   }
// }
