@use '../utils/variables' as v;

body {
  font-family: v.$font-main;
  background-color: v.$light-bg;
//   color: v.$text-color;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: rgb(219, 212, 212) !important;
}