<hr class="featurette-divider">

<div class="row featurette align-items-center">
	<div class="col-md-5">
		<img src="{{ asset('assets/images/Logo-Decliner.png') }}" alt="Logo Ecoride" class="img-fluid mx-auto d-block" style="object-fit: contain; max-height: 500px;">
	</div>

	<div class="col-md-7">
		<h2 class="featurette-heading fw-normal lh-2" id="couleur">
			Un projet responsable
			<span class="text-body-secondary">au cœur de vos trajets.</span>
		</h2>
		<p class="lead">
			Découvrez Écoride, votre plateforme de covoiturage locale pensée pour l'écologie, l'économie, et la simplicité d'usage. Rejoignez la mobilité de demain dès aujourd’hui.
		</p>
	</div>
</div>
