{% extends 'base.html.twig' %}

{% block title %}Covoiturage — Ecoride | Covoiturage dans votre région{% endblock %}

{% block body %}
	<section class="container homepage-section">>
		{% include 'homepage/_search-form.html.twig' %}


		
	</section>
{% endblock %}